@inherits LayoutComponentBase

<NavMenu></NavMenu>

<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            @Body
            <hr />
            <footer>
                <p>&copy; 2020 - Van Beijck Bikes</p>
            </footer>
        </div>
    </div>
</main>