@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron title" style="height: 250px;">
    <div class="container h-100">
        <div class="row h-100 align-items-end">
            <div class="col">
                <a href="@Url.Action("Index", "Products")" type="button" class="btn btn-primary text-white">Shop now! »</a>
            </div>
        </div>
    </div>
</div>
