<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Monolith.Data.Properties.Settings.DatabaseConnString"
            connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=AdventureWorks2014;Integrated Security=True" />
    </connectionStrings>
</configuration>