@page "/"

<div class="jumbotron title" style="height: 250px;">
    <div class="container h-100">
        <div class="row h-100 align-items-end">
            <div class="col">
                <NavLink href="Products" class="btn btn-primary text-white" type="button">
                    Shop now! »
                </NavLink>
            </div>
        </div>
    </div>
</div>

